html {
  font-family: 'Playfair Display', serif;
  font-size: 1.2vw;
  line-height: 1.5;
}

.header {
  background: #343c4e;
  background-image: url("../img/city0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  color: #FFF;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_title {
  font-size: 10vh;
}

.row {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.container {
}
.row > div {
  padding: 30px;
}
.row img {
  display: block;
  max-width: 100%;
  height: auto;
}
.razdel {
  color: #17a2b8;
  font-size: 3vw;
}
.col-4 {
  text-align: center;
}
