html {
  font-family: 'Playfair Display', serif;
  font-size: 1.8vw;
  line-height: 1.5;
  color: #17a2b8;
}
body {background: url("../img/fon.png");}

.btn-outline-info {
border:2px solid #ccc;
background:#f7f7f7;
text-align:center;
padding:10px;
position:fixed;
cursor:pointer;
color:#333;
font-family:verdana;
font-size:12px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
}

a {
  font-size: 1vw;
  color: #17a2b8 ;
}
table {
  border: 2px solid #17a2b8;
  border-collapse: collapse;
}
th, td {
  color: #17a2b8;
  border: 1px solid #17a2b8;
}
.Text{
  color: #17a2b8 ;
  margin-left: 400px;
  margin-right: 400px;
}
p {
  color: #17a2b8;
}
h1 {
  color: #17a2b8;
}
