html {
  font-family: 'Playfair Display', serif;
  font-size: 1.2vw;
  line-height: 1.5;
}
body {background: url("../img/fon.png");}

.header {
  background: #343c4e;
  background-image: url("../img/city2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  color: #FFF;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_title {
  padding-bottom: 30px;
  font-size: 10vh;
}

.row {

}
.container {
  margin: 0 auto;
  width: 100%;
}
.tit {
  padding: 2vw;
}
.row img {
  display: block;
  max-width: 100%;
  height: auto;
}
.razdel {
  color: #17a2b8;
  font-size: 3vw;
}
.col-4 {
  padding: 30px;
  text-align: center;
}
.tet {
  padding-bottom: 2vw;
}
.The_End img {
  display: block;
  max-width: 100% ;
  height: auto;
}
